/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2021, 2:06:56 PM
    Author     : Asus
*/
body{
    background-color: #043049 !important;
}
.index-img {
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 48px);
}
.index-right-content {
    height: 100%;
    padding-right: 100px;
}
.index-right-content img {
    max-width: 100%;
}
.login-box{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, #015b79, #08263e,#4e3264);
    padding-left: 200px;
    padding-right: 200px;

}
.dark-bg {
    background-color: #000;
}
.login .row{
    height: 100%;
}

.login{
    height:100vh;
}
.vm{
    position: relative;
    display: block;
    top:50%;
    transform: translateY(-50%);
}

.login-title{
    color: #41d5fd;
}
.form-control, .form-select{
    background-color: #041c2d !important;
    border-color: #041c2d !important;
    color:white !important;
    font-size: 15px !important;
}
.form-select{
    height: 37px;
}
.btn{
    font-size: 15px !important;
}
.btn.btn-primary{
    background-color:  #179bff !important;
    border-color: #179bff !important;
}
.login-text{
    font-size:13px;
    color:white;
    text-align: center;
}
.login-img{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    
}
.login-img.contact-us-img {
    background-size: contain;
}
.navbar{
    background-color: #08263e !important;
    position: fixed !important;
    height: 60px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

.title-pages{
    color:white;
    
}
.text-pages{
    color:white;
}
.text-color{
   color: #41d5fd ; 
}
.text-size{
    font-size: 17px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.apply{
    padding: 10px 50px !important;
}
.upload-cv {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.upload-cv div {
    width: 350px;
    height: 200px;
    border: 2px dashed #41d5fd;
}
.upload-cv #uploadCVPreview {
    color: #41d5fd;
    font-size: 14px;
    line-height: 24px;
}
.upload-cv input {
    cursor: pointer;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 0px;
    z-index: 1;
}
.tabel-aplicanti{
    padding-right: 100px !important;
    padding-left: 100px !important;
}